* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbarContainer {
  background-color: #e7e7e7;
  height: 180px;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  margin: 2px;
  color: black;
  text-decoration: none;
}

.cart-link {
  color: black;
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
  align-items: center;
}

.cart-link h5 {
  margin-left: 5px;
}

.dropdown-menu a.dropdown-item.active,
.dropdown-menu a.dropdown-item:active {
  background-color: black !important;
}
