* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contentLayout {
  align-items: center !important;
  justify-content: center !important;
  justify-items: center;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  max-width: 100% !important;
  background-color: #f7f7f7;
}
